@mixin setWidthAndHeight($width, $height) {
    width: $width;
    height: $width;
}
$headerHeight: 8vh;
$colors: (
    "header": #7479BD,
    "nav": darken(#7479BD, 20)
);
$divPadding: 10px;
$sideBarWidth: 6vw;

* {
    font-family: Arial;
}

body,
html {
    max-width: 100%;
    overflow-x: hidden;
}

#sideNav {
    display: flex;
    flex-direction: column;
}

.tinyMargin {
    margin-top: 20px;
}

.sideBarLink {
    $percentOfSideBarWidthThatEachLinkIs:75;
    margin-left:calc(((100 - #{$percentOfSideBarWidthThatEachLinkIs}) / 2)) + "%";
    margin-right:calc(((100 - #{$percentOfSideBarWidthThatEachLinkIs}) / 2)) + "%";
    @include setWidthAndHeight(calc($sideBarWidth * ($percentOfSideBarWidthThatEachLinkIs / 100)),calc($sideBarWidth * ($percentOfSideBarWidthThatEachLinkIs / 100)))
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    width: 100vw;
}

div {
    padding: $divPadding;
}

#sideBar {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: $sideBarWidth;
    height: calc(100vh - #{$headerHeight} - #{$divPadding});
    background-color: unquote(map-get($colors, "nav"));
}

#header {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    height: $headerHeight;
    width: 100vw;
    display: flex;
    background-color: unquote(map-get($colors, "header"));
}

.bold {
    font-weight: bold;
}

#logo {
    font-size: 155%;
    font-weight: 500;
    color: white;
    height: $headerHeight;
    margin: 0 0 0 15px;
    align-self: center;
    line-height: $headerHeight;
}
@mixin icon {
    width: calc(0.725 * #{$headerHeight});
    height: calc(0.725 * #{$headerHeight});
}

#bellIcon {
    margin-right: 20px;
    @include icon;
    align-self: center;
}

#headerHr {
    width: 1px;
    display: inline-block;
    height: $headerHeight;
    background-color: #666666;
    margin: 0;
    border: none;
}

#profile-image {
    border-radius: 50%;
    margin-left: 10px;
    @include icon;
    align-self: center;
}

#admin-name {
    color: white;
    display: inline-block;
    margin: 0;
    align-self: center;
    margin-left: 10px;
    margin-right: 15px;
}

.moveToRight {
    margin-left: auto;
    margin-right: 25px;
    display: flex;
}
@media (min-width:320px) {
    #sideBar {
        display: none;
    }
}
@media (min-width:768px) {
    #sideBar {
        display: block;
    }

}
@media (min-width:1024px) {
    #sideBar {
        display: block;
    }
}
