* {
    font-family: Arial;
}

body,
html {
    max-width: 100%;
    overflow-x: hidden;
}

#sideNav {
    display: flex;
    flex-direction: column;
}

.tinyMargin {
    margin-top: 20px;
}

.sideBarLink {
    margin: 20px 10px 10px;
    width: 45px;
    height: 45px;
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    width: 100vw;
}

div {
    padding: 10px;
}

#sideBar {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 6vw;
    height: calc(100vh - 8vh - 10px);
    background-color: #41468a;
}

#header {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 8vh;
    width: 100vw;
    display: flex;
    background-color: #7479BD;
}

.bold {
    font-weight: bold;
}

#logo {
    font-size: 155%;
    font-weight: 500;
    color: white;
    height: 8vh;
    margin: 0 0 0 15px;
    align-self: center;
    line-height: 8vh;
}

#bellIcon {
    margin-right: 20px;
    width: calc(0.725 * 8vh);
    height: calc(0.725 * 8vh);
    align-self: center;
}

#headerHr {
    width: 1px;
    display: inline-block;
    height: 8vh;
    background-color: #666666;
    margin: 0;
    border: none;
}

#profile-image {
    border-radius: 50%;
    margin-left: 10px;
    width: calc(0.725 * 8vh);
    height: calc(0.725 * 8vh);
    align-self: center;
}

#admin-name {
    color: white;
    display: inline-block;
    margin: 0;
    align-self: center;
    margin-left: 10px;
    margin-right: 15px;
}

.moveToRight {
    margin-left: auto;
    margin-right: 25px;
    display: flex;
}

@media (min-width: 768spx) {
    #sideBar {
        display: none;
    }
}
