@mixin setWidthAndHeight($width, $height) {
    width: $width;
    height: $width;
}
$headerHeight: 8vh;
$colors: (
    "header": #7479BD,
    "nav": darken(#7479BD, 20)
);
$divPadding: 10px;
$sideBarWidth: 5vw;
@mixin hideOnBigScreens {
    @media (min-width:320px) {
        display: none;
    }
    @media (min-width:768px) {
        display: inline-block;
    }
    @media (min-width:768px) {
        display: inline-block;
    }
}

* {
    font-family: Arial;
}

body,
html {
    max-width: 100%;
    overflow-x: hidden;
}

#sideNav {
    display: flex;
    flex-direction: column;
}

#navButton {
    outline: none;
}

.tinyMargin {
    margin-top: 20px;
}

.sideBarLink.activeLink .st0 {
    fill: white;
    padding-left: 10px;
    border-left: 5px solid #88DA84;
}

.sideBarLink {
    margin: 20px 10px 10px;
}

.sideBarLink .st0 {
    fill: rgb(166,166,184);
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    width: 100vw;
}

div {
    padding: $divPadding;
}

#sideBar {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: $sideBarWidth;
    height: calc(100vh - #{$headerHeight} - #{$divPadding});
    background-color: unquote(map-get($colors, "nav"));
}

#header {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    height: $headerHeight;
    width: 100vw;
    display: flex;
    background-color: unquote(map-get($colors, "header"));
}

.bold {
    font-weight: bold;
}

#logo {
    font-size: 155%;
    font-weight: 500;
    color: white;
    height: $headerHeight;
    margin: 0 0 0 15px;
    align-self: center;
    line-height: $headerHeight;
}
@mixin icon {
    width: calc(0.65 * #{$headerHeight});
    height: calc(0.65 * #{$headerHeight});
}

#bellIcon {
    margin-right: 15px;
    @include icon;
    align-self: center;
}

#headerHr {
    width: 1px;
    display: inline-block;
    height: $headerHeight;
    background-color: darken(#7479BD, 10);
    margin: 0;
    border: none;
    @include hideOnBigScreens;
}

#profile-image {
    border-radius: 50%;
    margin-left: 20px;
    @include icon;
    align-self: center;
    @include hideOnBigScreens;
}

#admin-name {
    color: white;
    display: inline-block;
    margin: 0;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    @include hideOnBigScreens;
}

.moveToRight {
    margin-left: auto;
    margin-right: 25px;
    display: flex;
}

#greenAlertCircle {
    display: inline;
    position: absolute;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #88DA85;
}
@media (min-width:320px) {
    #sideBar {
        display: none;
    }

    #logo {
        font-size: 110%;
        margin-left: 10px;
    }

    #navButton {
        display: inline-block;
    }

    #header {}
}
@media (min-width:768px) {
    #sideBar {
        display: block;
    }

    .sideBarLink {
        @include setWidthAndHeight(65%,65%);
        margin-left: 17.5%;
        margin-right: 17.5%;
        margin-top: 25px;
    }

    #sideBar {
        width: 8vw;
    }

    #navButton {
        display: none;
    }

    #logo {
        font-size: 145%;
    }
}
@media (min-width:1024px) {
    #sideBar {
        display: block;
    }

    #sideBar {
        width: 6vw;
    }

    .sideBarLink {
        @include setWidthAndHeight(45%,45%);
        margin-left: 27.5;
        margin-right: 27.5%;
        margin-top: 30px;
    }

    #navButton {
        display: none;
    }
    #logo {
        font-size: 155%;
    }
}
