* {
    font-family: Arial;
}

#sideNav {
    display: flex;
    flex-direction: column;
}

.sideBarLink {
    margin: 20px 10px 10px;
    width: 45px;
    height: 45px;
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    width: 100vw;
}

div {
    padding: 10px;
}

#sideBar {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 6vw;
    height: calc(92vh - 40px);
    background-color: #41468a;
}

#header {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    height: 8vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #7479BD;
}

.bold {
    font-weight: bold;
}

#logo {
    font-size: 155%;
    font-weight: 500;
    color: white;
    height: 8vh;
    margin: 0;
    line-height: 5vw;
}

#bellIcon {
    width: 30px;
    height: 30px;
}

.tinyMargin {
    margin-top: 20px;
}

#profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-self: end;
}

#admin-name {
    color: white;
}
