// mixins and variables
@mixin setWidthAndHeight($width, $height) {
    width: $width;
    height: $width;
}
$headerHeight: 8vh;
$colors: (
    "header": #7479BD,
    "nav": darken(#7479BD, 20)
);
$divPadding: 10px;
$sideBarWidth: 5vw;
@mixin hideOnBigScreens {
    @media (min-width:320px) {
        display: none;
    }
    @media (min-width:768px) {
        display: inline-block;
    }
    @media (min-width:768px) {
        display: inline-block;
    }
}
// body and everything
* {
    font-family: Arial;
}

body,
html {
    max-width: 100%;
    overflow-x: hidden;
}
// nav

#sideNav {
    display: flex;
    flex-direction: column;
}

#navButton {
    outline: none;
}

#bellIcon:hover {
    transform: scale(1.12);
}

.tinyMargin {
    margin-top: 20px;
}

.sideBarLink.activeLink .st0 {
    fill: white;
    padding-left: 10px;
    border-left: 5px solid #88DA84;
}

.sideBarLink {
    margin: 20px 10px 10px;
}

.sideBarLink .st0 {
    fill: rgb(166,166,184);
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100vw;
}

div {
    padding: $divPadding;
}

#sideBar {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    width: $sideBarWidth;
    height: calc(100vh - #{$headerHeight} - #{$divPadding});
    background-color: unquote(map-get($colors, "nav"));
}

#header {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    height: $headerHeight;
    width: 100vw;
    display: flex;
    background-color: unquote(map-get($colors, "header"));
}

.bold {
    font-weight: bold;
}

#logo {
    font-size: 155%;
    font-weight: 500;
    color: white;
    height: $headerHeight;
    margin: 0 0 0 15px;
    align-self: center;
    line-height: $headerHeight;
}
@mixin icon {
    width: calc(0.65 * #{$headerHeight});
    height: calc(0.65 * #{$headerHeight});
}

#bellIcon {
    margin-right: 15px;
    @include icon;
    align-self: center;
        transition-duration: 0.25s;
}

#headerHr {
    width: 1px;
    display: inline-block;
    height: $headerHeight;
    background-color: darken(#7479BD, 10);
    margin: 0;
    border: none;
    @include hideOnBigScreens;
}

#profile-image {
    border-radius: 50%;
    margin-left: 20px;
    @include icon;
    align-self: center;
    @include hideOnBigScreens;
}

#admin-name {
    color: white;
    display: inline-block;
    margin: 0;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    @include hideOnBigScreens;
}

.moveToRight {
    margin-left: auto;
    margin-right: 25px;
    display: flex;
}

#greenAlertCircle {
    display: inline;
    position: absolute;
    top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #88DA85;
}

#notifications {
    display: none;
}

.notification {
    background-color: grey;
    color: white;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 7px;
}

.notification p {
    display: inline-block;
    width: 90%;
    margin: 0;
}

.notificationExitButton {
    background: none;
    border: none;
    outline: none;
    display: inline-block;
    float: right;
    padding-top: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    vertical-align: middle;
    line-height: 100%;
    padding: 0;
}

.notificationExitButton:hover {
    transform: scale(1.12);
    transition-duration: 0.25s;
}



#dashboardContent {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    background:white;
}

// #search {
// width:35%;
// padding:10px;
// outline:none;
// border-radius:4px;
// border:1px solid lightgrey;
// color:grey;
// }



#mainDashboardTitle {
    color:#6E6D6D;
}
.search-container{
  width: 30%;

  display: block;
  margin: 0 auto;
}

input#search-bar{
      border-radius:7px;
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease;
  	 opacity: 0;
     }
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}





.alert {
    width:90%;
    margin-left:5%;
    margin-right:5%;
    background-color:#7377BF;
    color:white;
    border-radius:5px;
    padding:15px;
    display: inline-block;
    height:21px;

}
.alert p {
    display:inline-block;
        margin: 0;
        line-height:21px;
}
.alertExit {
float:right;
color:white;
background:none;
outline:none;
border:none;
transition-duration: 0.25s;
line-height:21px;
font-size:18px;
}

.alertExit:hover
 {
     transform: scale(1.5);
 }


@media (min-width:320px) {
    #sideBar {
        display: none;
    }

    #logo {
        font-size: 140%;
        margin-left: 10px;
    }

    #header {
        justify-content: space-between;
    }

    #navButton {
        display: inline-block;
    }

    #bellIcon {
        margin-right: 0;
    }

    .moveToRight {
        margin-left: 0;
    }

    .sideBarLink {
        @include setWidthAndHeight(75%,75%);
        margin-left: 12.5%;
        margin-right: 12.5%;
        margin-top: 25px;
    }

    #notifications {
        font-size: 90%;
        width: 80%;
        padding-right: 10%;
        font-size:90%;
    }
}
@media (min-width:568px) {
    .sideBarLink {
        @include setWidthAndHeight(50%,50%);
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 25px;
    }
        #notifications {
width:60%;
        }
}
@media (min-width:768px) {
    #sideBar {
        display: block;
    }

    #sideBar {
        width: 8vw;
    }

    #navButton {
        display: none;
    }

    #logo {
        font-size: 145%;
    }

    #bellIcon {
        margin-right: 15px;
    }

    .moveToRight {
        margin-left: auto;
    }

    .sideBarLink {
        @include setWidthAndHeight(65%,65%);
        margin-left: 17.5%;
        margin-right: 17.5%;
        margin-top: 25px;
    }

    #notifications {
        width: 60%;
        font-size: 100%;
    }
}
@media (min-width:1024px) {
    #sideBar {
        display: block;
    }

    #sideBar {
        width: 5vw;
    }

    .sideBarLink {
        @include setWidthAndHeight(70%,70%);
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 25px;
    }

    #navButton {
        display: none;
    }

    #logo {
        font-size: 155%;
    }

    #bellIcon {
        margin-right: 15px;
    }

    .moveToRight {
        margin-left: auto;
    }
    #notifications {
        width: 40%;
        font-size: 100%;
    }
}
